<div class="row">
  <div class="col-lg-6 d-none d-lg-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center">
      <span class="login-logo">Boonus</span>
    </div>
  </div>
  <div class="col-lg-6 bg-light">
    <div class="p-5">
      <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Área Administrativa</h1>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'user' }) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, placeholder: 'Entre com seu email...', autofocus: true, autocomplete: "email", class: 'form-control form-control-user' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, placeholder: 'Senha', autocomplete: "current-password", class: 'form-control form-control-user' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <%= f.check_box :remember_me, class: 'custom-control-input' %>
              <%= f.label :remember_me, 'Lembrar-me', class: 'custom-control-label' %>
            </div>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-red btn-user btn-block' %>
        </div>
      <% end %>

      <hr>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
